<html>
    <body>
            <h1>Upload de arquivos</h1>

            {% if not is_logged %}
                voce nao está logado. faça <a href="/login">login</a>
            {% endif %}
     
            {% if is_logged %}
                <div>Você está logado como {{name}}. <a href="/logout"> logout </a></div>

                <div>
                    <h3>adicionar arquivos</h3>
                    <form method=post enctype=multipart/form-data>
                      <input type=file name=file>
                      <input type=submit value=Upload>
                    </form>
                </div>

                {% if arquivos %}
                    <table >
                        <th>Arquivos já incluídos</th>
                        {% for arquivo in arquivos %}
                            <tr>
                                <td  style="border: 1px solid #000;">
                                    <a href="/uploads/{{arquivo}}">{{arquivo}}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
                {% if not arquivos %}
                    <div>Nenhum arquivo foi adicionado</div>
                {% endif %}
            {% endif %}

    </body>
</html>